---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Features",
    path: "#",
    children: [
      { title: "Action", path: "/" },
      { title: "Another action", path: "#" },
      { title: "Dropdown Submenu", path: "#" },
      { title: "404 Page", path: "/404" },
    ],
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
  {
    title: "Portfolio",
    badge: true,
    path: "https://github.com/Steeve-Bennett-aka-MChoquette/martincscott.github.io",
    target: "_blank",
  },
];
---

<Container>
  <header class="py-5">
    <Astronav>
      <div class="flex items-center justify-between">
        <!-- Logo -->
        <a href="/" class="text-lg flex-shrink-0">
          <span class="font-bold text-pink-500">Martin</span>
          <span class="text-slate-500">CScott</span>
        </a>
        
        <!-- Desktop Menu -->
        <div class="hidden lg:flex flex-1 justify-center">
          <MenuItems>
            <ul class="flex items-center gap-6">
              {
                menuitems.map((item, index) => (
                  <>
                    {item.children && (
                      <Dropdown
                        title={item.title}
                        children={item.children}
                        lastItem={index === menuitems.length - 1}
                      />
                    )}
                    {!item.children && (
                      <li>
                        <a 
                          href={item.path} 
                          class="flex items-center text-gray-600 dark:text-gray-200 hover:text-gray-900"
                        >
                          {item.title}
                          {item.badge && (
                            <span class="ml-1 px-2 py-0.5 text-[10px] font-semibold uppercase text-white bg-purple-600 rounded-full">
                              NEW
                            </span>
                          )}
                        </a>
                      </li>
                    )}
                  </>
                ))
              }
            </ul>
          </MenuItems>
        </div>

        <div class="flex items-center gap-4">
          <!-- Dark mode toggle -->
          <button 
            data-switch-theme 
            class="outline-none flex relative text-heading-2 rounded-full p-2 border border-box-border"
          >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-6 h-6 dark:flex hidden">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:hidden">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
          </svg>
            <span class="sr-only">switch theme</span>
          </button>

          <!-- Desktop Login/Signup -->
          <div class="hidden lg:flex items-center gap-4">
            <a href="#" class="text-gray-600 dark:text-gray-200 hover:text-gray-900">Log in</a>
            <Link href="#" size="md">Sign up</Link>
          </div>

          <!-- Menu Icon -->
          <div class="block lg:hidden">
            <MenuIcon class="w-4 h-4 text-gray-800 dark:text-gray-200" />
          </div>
        </div>
      </div>

      <!-- Mobile Menu -->
<MenuItems class="hidden lg:hidden"> <!-- Add 'hidden' here -->
  <div class="mt-4">
    <ul class="flex flex-col gap-4">
      {
        menuitems.map((item, index) => (
          <>
            {item.children && (
              <Dropdown
                title={item.title}
                children={item.children}
                lastItem={index === menuitems.length - 1}
              />
            )}
            {!item.children && (
              <li>
                <a 
                  href={item.path} 
                  class="flex items-center text-gray-600 dark:text-gray-200 hover:text-gray-900"
                >
                  {item.title}
                  {item.badge && (
                    <span class="ml-1 px-2 py-0.5 text-[10px] font-semibold uppercase text-white bg-purple-600 rounded-full">
                      NEW
                    </span>
                  )}
                </a>
              </li>
            )}
          </>
        ))
      }
    </ul>

    <div class="flex flex-col gap-4 mt-4">
      <Link href="#" style="muted" block size="md">Log in</Link>
      <Link href="#" size="md" block>Sign up</Link>
    </div>
  </div>
  </MenuItems>
    </Astronav>
  </header>
</Container>