---
import { Picture } from "astro:assets";
import heroImage from "../assets/astro--02.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";

// Get current locale from URL
const { pathname } = Astro.url;
const currentPathSegments = pathname.split('/').filter(Boolean);
const currentLocale = currentPathSegments[0] || 'fr';

// Import translations
let translations;
try {
  translations = await import(`../i18n/${currentLocale}.json`);
} catch (error) {
  console.error(`Failed to load translations for ${currentLocale}`, error);
  // Fallback to default locale
  translations = await import(`../i18n/fr.json`);
}
---


<main class="grid lg:grid-cols-2 place-items-center pt-8 pb-8 md:pt-12 md:pb-24 hero-content">
  <div class="py-6 order-1 md:block">
    <div class="hero-mask rounded-full">
      <Picture
        src={heroImage}
        alt="Astronaut in the air"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
  </div>
  <div>
      <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold text-slate-800 dark:text-slate-100">
        {translations.default.hero.title}
      </h1>
      <p class="text-lg mt-4 text-slate-800 dark:text-slate-300 max-w-xl">
        {translations.default.hero.subtitle}
      </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://github.com/Steeve-Bennett-aka-MChoquette/martincscott.github.io/blob/main/README.md"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white dark:text-black w-5 h-5" name="bx:bxs-cloud-download" />
         {translations.default.cta.download}
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/Steeve-Bennett-aka-MChoquette/martincscott.github.io"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black dark:text-white w-4 h-4" name="bx:bxl-github" />
         {translations.default.cta.github}
      </Link>
    </div>
  </div>
</main>
